pyrogram
tgcrypto
requests
ffprobe
hachoir
pytz
hachoir
ffmpeg-python
PyDrive2
xmltodict
hachoir
lxml
pywidevine
telegraph
python-dateutil
Flask
gunicorn
aiohttp


aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
pymongo

python-dotenv
python-magic

requests
speedtest-cli
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
